{% extends 'MDlogger/base.html' %}
{% load static %}


{% block content %}
<style>

    #daily-repairs {
        text-align: center;
        font-weight: bold;
        color: black;
        margin-bottom: 10px;
    }

    #addrepair {
        display: inline-block;
        padding: 10px 20px; /* Adjust padding for better appearance */
        margin-top: 10px;
        font-weight: bold;
        background-color: #5b6be8;
        border: solid 2px black;
        border-radius: 25px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        box-shadow: #888888 2px 0px 12px 0px;
        transition: all 0.4s ease 0s; 
    }

    #addrepair:hover {
        background-color: #3144d4; /* Darker color on hover */
        box-shadow: 0 0 15px #2c06ff;
        border-color: #2c06ff;
    }

    #addrepaircontainer {
        position: absolute; /* Position the container absolutely */
        bottom: 25px; /* Adjust this value as needed */
        width: 100%; /* Make it span the entire width of .repaircontainer */
        border-top: 1px solid #c1c1c1;
        background-color: ffffff;
        text-align: center;
        
    }

    .repaircontainer {
        width:30%;
        max-width: 320px;        position: fixed;
        top: 68px; /* Adjust this value based on your navbar height */
        left: -30%;
        transition: left 1.3s ease;
        background-color: rgb(255, 255, 255);
        height: 90%;
        bottom: 10px;
        text-align: center;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        box-shadow: #888888 2px 0px 12px 0px; 
        border-top: 2px solid #20a2e3;
        border-right: 2px solid #20a2e3;
        padding-bottom: 5px;
        border-bottom: 2px solid #20a2e3;
        padding-top: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .repaircontainer.active {
        left: 0;
    }

    .repaired-box {
        border: 2px solid #1b1919;
        border-radius: 10px;
        margin: 0 auto 20px;
        padding: 15px;
        margin-top: 30px;
        background-color: rgb(17, 144, 207);
        width: 80%;
        box-shadow: 2px 2px 13px 1px #888888;
        
    }

    .repaired-box-container {
        overflow-y: scroll;
        height: calc(100% - 122px);
    }

    .repair-lp {
        font-weight: bold;
       font-size: .8rem;
        color: white;
    }

    .repair-sku, .repair-repair, .repair-time {
        font-weight: bold;
        font-size: 1rem;
        color: white;
    }

 

    #graphs-container {
        width: 70%;
    }

    #graphs {
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #1e2026;
    }

    .projects-container {
       width:30%;
       max-width: 320px;        
       position: fixed;
       top: 68px; /* Adjust this value based on your navbar height */
       right: -30%;
       transition: right 1.4s ease;
       background-color: #ffffff;
       height: 90%;
       bottom: 10px;
       text-align: center;
       box-sizing: border-box;
       align-items: center;
       justify-content: center;
       box-shadow: #888888 2px 0px 12px 0px; 
       border-top: 2px solid #20a2e3;
       border-left: 2px solid #20a2e3;
       padding-bottom: 5px;
       border-bottom: 2px solid #20a2e3;
       padding-top: 10px;
       border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
   }

   .projects-container.active{
         right: 0;
   }

   #current-projects {
        text-align: center;
        font-weight: bold;
        color: black;
        margin-bottom: 10px;
    }

    .projects-box-container {
        overflow-y: scroll;
        height: 82%;
    }

    .projects-box {
        border: 2px solid #1b1919;
        border-radius: 10px;
        margin: 0 auto 20px;
        padding: 15px;
        margin-top: 30px;
        background-color: #35ce8c;
        width: 80%;
        box-shadow: 2px 2px 13px 1px #888888;
        font-weight: bold;
        font-size: medium;
        color: white;
    }

    #markcomplete {
        display: inline-block;
        padding: 10px 20px; /* Adjust padding for better appearance */
        margin-top: 20px;
        font-weight: bold;
        background-color: #5b6be8;
        border: solid 2px black;
        border-radius: 25px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        box-shadow: #585858 2px 0px 12px 0px;
        transition: all 0.4s ease 0s; 
    }

    #markcomplete:hover {
        background-color: #3144d4; /* Darker color on hover */
        box-shadow: 0 0 15px #2c06ff;
        border-color: #2c06ff;
    }

    
    
    body {
        background-color: aliceblue;  
        margin: 0;
    }

</style>

<div class="repaircontainer">
    <h3 id="daily-repairs">Repaired Today: {{ pieces_repaired_today }} </h3>
    <div class="repaired-box-container">
        {% for repair in repairs %}
        <div class="repaired-box">
        <div class = "repair-lp">LP: {{ repair.lp }}</div>
        <div class = "repair-sku">SKU: {{ repair.sku }}</div>
        <div class = "repair-repair">Repaired: {{ repair.repair }}</div>
        <div class = "repair-time">Time: {{ repair.time }}</div>
        </div>
        {% endfor %}
    </div>
<div id="addrepaircontainer">
<a id="addrepair" href="{% url 'MDlogger:lp_entry' %}">Add New Repair</a>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="graphs-container">
<div class="graphs">
<canvas id="repairDoughnutChart" width="400" height="400"></canvas>
</div>
</div>
<div class="projects-container">
    <h3 id="current-projects">Assigned Projects: </h3>
    <div class="projects-box-container">
        {% for project in projects %}
        <div class="projects-box">
        <div class = "project-project">Project: {{ project.project }}</div>
        <div class = "project-date">Assigned: {{ project.date }}</div>
        <div class = "project-due">Due: {{ project.due }}</div>
        <div class = "project-department">Department: {{ project.department }}</div>
        <div class = "project-description">Description: {{ project.description }}</div>
        <form method="post" action="{% url 'MDlogger:project_complete' project.id %}">
            {% csrf_token %}
            <button id="markcomplete" type="submit">Mark as Complete</button>
        </form>
        </div>
        

        {% endfor %}
        <div class="projects">

    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
        var repairContainer = document.querySelector('.repaircontainer');
        var projectsContainer = document.querySelector('.projects-container');
        function toggleRepairContainer() {
            repairContainer.classList.toggle('active');
        }

        function toggleprojectsContainer() {
            projectsContainer.classList.toggle('active');
        }

        toggleRepairContainer();
        toggleprojectsContainer();
    });


var piecesRepaired = {{ pieces_repaired_today }}; // Replace with the actual number of pieces repaired
var piecesRemaining = 4; // Replace with the actual number of pieces remaining

var piecesToRepair = 14;
var piecesLeftToRepair = piecesToRepair - piecesRepaired;

var doughnutData = {
  labels: ['Repaired', 'Remaining'],
  datasets: [{
    data: [piecesRepaired, piecesLeftToRepair],
    backgroundColor: ['#2ee696', '#2d9cc2'],
  }],
};

var doughnutOptions = {
  cutout: '60%',
  responsive: true,
  maintainAspectRatio: false,
};

var doughnutChartCanvas = document.getElementById('repairDoughnutChart').getContext('2d');
new Chart(doughnutChartCanvas, {
  type: 'doughnut',
  data: doughnutData,
  options: doughnutOptions,
});
</script>
{% endblock %}
