{% extends 'MDlogger/base.html' %}

{% block content %}
<style>
    /* Additional styles for the login form */
    .login-form {
        max-width: 400px; /* Set a max width for the form */
        margin: 0 auto; /* Center the form horizontally */
        padding: 35px;
        border-radius: 25px;
        border-style: solid;
        text-align: center;
        background-color: white;
        font-weight: bold;
        box-shadow: 1px 1px 10px 1px #888888;
        margin-top: 50px; /* Add margin to the top */
        height: fit-content;
    }

    button {
        margin-top: 10px; /* Add margin to the top of the button */
        font-weight: bolder;
        background-color: rgb(59, 79, 232);
        width: 60%;
        border-radius: 25px;
        color: white;
        cursor: pointer;
    }

    button:hover {
        margin-top: 10px; /* Add margin to the top of the button */
        font-weight: bolder;
        background-color: rgb(59, 79, 232);
        width: 60%;
        border-radius: 25px;
        color: white;
        border-color: #2c06ff;
        box-shadow: 0 0 5px rgba(44, 6, 255, 0.5);
        cursor: pointer;
    }

    body {
        background-color: aliceblue;
    }  

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input:focus {
        outline: none;
        border-color: #2c06ff;
        box-shadow: 0 0 5px rgba(44, 6, 255, 0.5);
    }

</style>
{% if user.is_authenticated %}
    <h3>Logged in as {{ user.username}}</h3>
    
{% else %}
<div class="login-form">
    <form method="post">
        
        <h2>Login</h2>
        {% csrf_token %}

        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <button type="submit">Login</button>
    </form>
</div>
{% endif %}
{% endblock %}
